#Fromid {
    margin-left: 50px;
}

#Currencyidupper {
    margin-left: 30px;
}

#Toid{

    margin-left: 69px;

}

#Currencyiddown{

    margin-left: 30px;
}

#Convert_Button_id{
    margin-left: 400px;
}
